.cache
build

ddpends/mediainfo/output_mediainfo
ddpends/mediainfo/output_zenlib
depends/spdlog/build
depends/spdlog/spdlog-1.16.0
depends/spdlog/output

depends/sqlpp11/sqlpp11-0.65

depends/sqlite/sqlite-src-3510200